# Release Highlights

### First major change

### Second major change

## All changes

{{#each releases}}
    {{#if @first}}
        {{#each merges}}
            {{commit.niceDate}} - [`{{commit.shorthash}}`]({{commit.href}}) - {{{message}}}{{#if href}} ([#{{id}}]({{href}})){{/if}}
        {{/each}}
        {{#each fixes}}
            {{commit.niceDate}} - [`{{commit.shorthash}}`]({{commit.href}}) - {{{commit.subject}}}{{#each fixes}}{{#if href}} ([#{{id}}]({{href}})){{/if}}{{/each}}
        {{/each}}
        {{#each commits}}
            {{niceDate}} - [`{{shorthash}}`]({{href}}) - {{#if breaking}}**Breaking change:** {{/if}}{{{subject}}}{{#if href}} ([{{shorthash}}]({{href}})){{/if}}
        {{/each}}
    {{/if}}
{{/each}}

<i>
  Igir, and other open-source projects like it, are a labor of love. They wouldn't be nearly as meaningful without the community supporting them. Constructive feedback and general positivity will always be welcome. Be kind to others, and be kind to yourselves.
  <div align="right">❤️ Christian</div>
</i>
